﻿

<div class="form-group">
    <label>Телефон {{newTenant.phone}}</label>
    <input type="text"  class="form-control"
           angularFormsMask="D-(DDD)-DDD-DD-DD"
           placeholder="8-(908)-864-55-91"
           [(ngModel)]="newTenant.phone"
           [validateMaskInput]="true"
           name="phone"
    >
</div>
<div class="form-group">
    <label>Ник</label>
    <input type="text" [(ngModel)]="newTenant.nickName" class="form-control" name="nickName" />
</div>
<div class="form-group">
    <label><input type="checkbox" [(ngModel)]="newTenant.isClubman" class="form-control"
    name="isClubman"/> Член Клуба</label>
</div>
<div>
   <p>
       <input type="submit" value="Добавить" class="btn btn-success"/>
<!--       <input type="button" value="Добавить" (click)="addTenant()" class="btn btn-success" />-->
    </p>
<!--    <p>  <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />-->
    <p>
        <a routerLink="/Tenant" class="btn btn-warning">Отмена</a>
    </p>
</div>
