﻿
<table class="table table-striped">
    <thead>
    <tr>
        <td>Номер</td>
        <td>Телефон</td>
        <td>Ник</td>
        <td>Состояние</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tenants">
            <ng-template [ngIf]="editingTenant?.id != t.id" [ngIfElse]="edit">
                <td>{{t?.id}}</td>
                <td>{{t?.phone}}</td>
                <td>{{t?.nickName}}</td>
                <td [ngSwitch]="t?.state">
                    <p *ngSwitchCase="'Simple'"> Обычный </p>
                    <p *ngSwitchCase="'Banned'"> Забанен </p>
                    <p *ngSwitchCase="'Clubman'"> Член клуба </p>
                </td>
                <td [ngSwitch]="t?.state">
                    <div class="row" *ngSwitchCase="'Simple'">
                        <button class="btn px-3 btn-primary" (click)="editTenant(t)">Изменить</button>
                        <button class="btn px-5 btn-warning" (click)="takeInTenant(t)">Принять в клуб</button>
                        <button class="btn px-5 btn-warning" (click)="banTenant(t)">Забанить</button>
                     </div>
                    <div class="row" *ngSwitchCase="'Clubman'">
                        <button class="btn px-3 btn-primary" (click)="editTenant(t)">Изменить</button>
                        <button class="btn px-5 btn-danger" (click)="kickOutTenant(t)">Убрать из клуба</button>
                        <button class="btn px-5 btn-warning" (click)="banTenant(t)">Забанить</button>
                    </div>
                    <div class="row" *ngSwitchCase="'Banned'">
                        <button class="btn px-3 btn-primary" (click)="editTenant(t)">Изменить</button>
                    </div>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>{{editingTenant.id}}</td>
    <td>
        <input type="text"  class="form-control"
               prefix="+7" angularFormsMask="D-(DDD)-DDD-DD-DD"
               placeholder="8-(908)-864-55-91"
               [(ngModel)]="editingTenant.phone"
               [validateMaskInput]="true">
    </td>
    <td>
        <input type="text" [(ngModel)]="editingTenant.nickName" class="form-control" />
    </td>
    <td>    {{editingTenant.state}} </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>


