﻿@* @model GreenTourStorage.Dtos.TenantCreateDto *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Арендатор"; *@
@* //var Rent = Model; *@
@* //var Weeks = Math.Floor(((Rent.RentEndData - Rent.RentBeginData).Value.Days) / (double)7) + 1; *@
@* } *@

<div class="base-form">
      @using (Html.BeginForm())
      {


         <create-tenant>Загрузка</create-tenant>

         <script src="./js/public/polyfills.js"></script>
         <script src="./js/public/tenantAdd.js"></script>


@* <maskedInput></maskedInput> *@

@*          <div class="form-group"> *@
@*              <label>Телефон </label> *@
@*              $1$             @Html.TextBoxFor(q => q.Phone, "", #1# *@
@*              $1$                 new {@class = "form-control", type="tel", #1# *@
@*              $1$                 //    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" #1# *@
@*              $1$ #1# *@
@*              $1$                 }) #1# *@
@*          </div> *@
@* *@
@*          <div class="form-group"> *@
@*              <label>Ник (если есть) </label> *@
@* $1$              @Html.TextBoxFor(q => q.NickName, "", #1# *@
@* $1$                  new {@class = "form-control"}) #1# *@
@*          </div> *@
@* *@
@* *@
@*          <div class="form-group"> *@
@*              <label>Член клуба </label> *@
@* $1$              @Html.CheckBoxFor(q => q.IsClubman, #1# *@
@* $1$                  new {@class = "form-control"}) #1# *@
@*          </div> *@
@* *@
@*          <div class="form-row"> *@
@*              <input type="submit" value="Добавить" class="btn btn-success"/> *@
@*              $1$             @Html.ActionLink("Отмена", "", #1# *@
@*              $1$                 "Tenant", "", new {@class = "btn btn-warning"}) #1# *@
@*          </div> *@
      }
@*     $1$ //} #1# *@
</div>
