﻿<div class="container">

    @Html.ActionLink("Добавить", "Add",
                    "Tenant", "", new {@class = "btn btn-info"})
    <tenant>Загрузка...</tenant>
     <script src="./js/public/polyfills.js"></script>
    <script src="./js/public/tenantList.js"></script>
</div>
