﻿@model GreenTourStorage.Models.Tenant

@{
    ViewData["Title"] = "Арендатор";
//var Rent = Model;
//var Weeks = Math.Floor(((Rent.RentEndData - Rent.RentBeginData).Value.Days) / (double)7) + 1;
}

<div class="base-form">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(q => Model.Id)
        <table>
            <tr>
                <td>Арендовал </td>
                @Html.HiddenFor(q => @Model.Phone)
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Участник клуба</td>
                <td>@Html.CheckBoxFor(q => Model.IsClubman) </td>
            </tr>
            <tr>
                <td>Заблокирован</td>
                <td>
                    @Html.CheckBoxFor(q => Model.IsBanned)
                </td>
            </tr>
        </table>
        <input class="btn btn-warning" type="submit" value="Принять"/>
    }
</div>
