﻿<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - Green Tour</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/css/storage_styles.css" />
      <script asp-src-include="~/js/simple/*.js"></script>
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: darkgreen;">
    <a class="Logo" href="#">Green Tour</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        @if (@User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Склад
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Storage" asp-action="Index">Снаряжение</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Storage" asp-action="AddArticle">Добавить снаряжение</a>
                        <a  class="dropdown-item" asp-area="" asp-controller="Storage" asp-action="AddCategories">Категории</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Аренда
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Rent" asp-action="Index">История</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Rent" asp-action="Create">Выдать снаряжение</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tenant" asp-action="Index">Участники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  asp-controller="Home" asp-action="Info">Информация</a>
                </li>
            </ul>
            <a class="nav-link ms-sm-2" asp-controller="Account" asp-action="Logout">Выйти</a>
        }
    </div>
</nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Green Tour Storage</p>
        </footer>
    </div>
</body>
</html>
