﻿@model List<GreenTourStorage.Models.Category>
@{
    ViewData["Title"] = "Новое снаряжение";
}

<div class="base-form">
    <h1>Добавление нового снаряжения на склад</h1>
    <form method="post" action="/Storage/AddArticle">
        <table>
            <tr>
                <td>
                    <p>Категория:</p>
                </td>
                <td>
                    <p>
                        <select id="category" name="category" class="form-control" required>
                            @foreach (var c in Model)
                            {
                                <option value="@c.Name">@c.Name</option>
                            }
                        </select>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Тип:</td>
                <td>
                    <p>
                        <input type="radio" value="particular" checked name="type" onclick="storageShowAddDetails('PaCreateDetails')" /> Уникальный
                    </p>
                    <p>
                        <input type="radio" value="multiple" name="type" onclick="storageShowAddDetails('MaCreateDetails')" /> Множественный
                    </p>
                </td>
            </tr>
            <tr id="regNum">
                <td> Рег. номер: </td>
                <td><input type="number" min="0" class="form-control" name="regNum" placeholder="При наличии" /> </td>
            </tr>
            <tr>
                <td>Наименование:</td>
                <td><textarea name="articleName" class="form-control" required placeholder="Не более 100 символов" maxlength="100" cols="50" rows="2"></textarea></td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><textarea name="description" class="form-control" placeholder="Не более 500 символов" maxlength="500" cols="50" rows="4"></textarea> </td>
            </tr>
            <tr id="MaCreateDetails" hidden>
                <td>Количество:</td>
                <td><input type="number" min="0" class="form-control" id="maCount" name="maCount" required /> </td>
            </tr>
            <tr>
                <td id="priceLabel">Стоимость:</td>
                <td><input type="number" min="0" class="form-control" name="price" required /> </td>
            </tr>
            <tr>
                <td id="weightLabel">Вес:</td>
                <td><input type="number" min="0" class="form-control" name="weight" placeholder="В граммах" /> </td>
            </tr>
            
            <tr id="PaCreateDetails">
                <td><input type="checkbox" id="blackMark" name="blackMark" value="true" onclick="storageRequiredCommentForBM()"/> Требуется ремонт</td>      
                <td id="commentplace" hidden>
                    <textarea id="comment" name="comment" class="form-control" placeholder="Причина необходимости ремонта" maxlength="500" cols="50" rows="2"></textarea>
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td><input class="btn btn-success right-form" type="submit" value="Добавить" /></td>
            </tr>
        </table>
        <script>storageShowAddDetails('PaCreateDetails')</script>
    </form>
</div>
