﻿@model List<GreenTourStorage.Models.Category>
@{
    ViewData["Title"] = "Категории";
}
<div class="base-form">
    <h1>Категории</h1>
    <table class="table table-items">
        <tbody>
            @foreach (var item in Model)
            {
                <tr><td>@item.Name</td></tr>
            }          
        </tbody>
    </table>
    <form class="form-inline" action="/Storage/AddCategories" method="post">
        <input class="form-control mr-sm-2" type="text" name="category" placeholder="Новая категория">
        <button class="btn btn-default" type="submit">Добавить</button>
    </form>
</div>