﻿@model (List<GreenTourStorage.Models.ParticularArticle>, List<GreenTourStorage.Models.MultipleArticle>);
@{
    ViewData["Title"] = "Склад";
}

@* <ul class="nav nav-tabs"> *@
@*     <li class="nav-item active"> *@
@*         <a data-toggle="tab" href="#allArticles">Все артикли</a> *@
@*     </li> *@
@*     <li> *@
@*         <a data-toggle="tab" href="#particularArticles">Единичные</a> *@
@*     </li> *@
@*     <li> *@
@*         <a data-toggle="tab" href="#multipleArticles">Множественные</a> *@
@*     </li> *@
@* </ul> *@
<div class="tab-content">
    <div class="tab-header">
        <div class="right-form">
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="searchSpace">
                <button class="btn btn-success" name="searchBtn" onclick="storageGetSearchInfo()">Найти</button>
                <button class="btn btn-warning" name="dropFilterBtn" onclick="storageDropSearch()">X</button>
            </div>
        </div>
        <input type="checkbox" id="articlesOnStorageCB" onclick="storageGetArticlesOnStorage()" /> <span id="onStorageLabel">Сейчас на складе</span>
    </div>
    <div class="tab-pane active" id="allArticles">
        <table class="table table-items" id="allArticlesTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Наименование</th> @*ссылка на редактирование с подсказкой*@
                    <th scope="col">Описание</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Состояние</th>
                    <th scope="col" hidden>TenantId</th>
                    <th scope="col" hidden>NowCount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="particularArticles">
        <table class="table table-items" id="particularArticlesTable">
            <thead class="thead-dark"></thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                <tr>
                    <td>@item.RegNum</td>
                    <td>у</td> @*уникальный*@
                    <td>@item.Category</td>
                    <td></td> @*количество*@
                    <td><a href="Storage/ParticularArticle/@item.RegNum">@item.Name</a></td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>

                    <td> @if (item.Weight != null)
                         {
                             @item.Weight

                         }
                    </td>
                    <td>
                        @if (item.BlackMark)
                        {
                            @item.Comment
                        }
                        else if (item.InRent)
                        {
                            @Html.ActionLink("В Аренде", item.RentId.ToString(), "Rent")
                        }
                        else
                        {
                            <p> на складе</p>
                        }
                    </td>
                    <td hidden>@item.RentId</td>
                    <td hidden></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="tab-pane" id="multipleArticles">
        <table class="table table-items" id="multipleArticlesTable">
            <thead class="thead-dark"></thead>
            <tbody>
                @foreach (var item in Model.Item2)
                {
                <tr>
                    <td>@item.RegNum</td>
                    <td>м</td> @*множественный*@
                    <td>@item.Category</td>
                    <td>@item.TotalCount (@item.NowCount)</td>
                    <td><a href="Storage/MultipleArticle/@item.RegNum">@item.Name</a></td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    @if (item.Weight != null) {<td>@item.Weight г</td>}
                        else {<td></td>}
                    <td></td> @*коммент состояния*@
                    <td hidden></td> @*находится у*@
                    <td hidden>@item.NowCount</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    storageBegin();
</script>
