﻿@model ( GreenTourStorage.ViewModels.MultipleArticleViewModel, List<GreenTourStorage.Models.Category>)
@{
    ViewData["Title"] = Model.Item1.Name;
}

    <div class="base-form">
        <h1>Редактирование</h1>
        <form method="post" action="/Storage/MultipleArticle/@Model.Item1.RegNum">
            <table>
                <tr>
                    <td>Категория:</td>
                    <td>
                        <select id="category" name="category" class="form-control">
                            @foreach (var c in Model.Item2)
                            {
                            if (c.Name == Model.Item1.Category)
                                {<option selected value="@c.Name">@c.Name</option>}
                                else
                                {<option value="@c.Name">@c.Name</option>}
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Регистрационный номер:</td>
                    <td class="attention bold">
                        @Model.Item1.RegNum
                        <div hidden><input type="number" min="0" class="form-control" disabled name="reg" value="@Model.Item1.RegNum"></div>
                    </td>
                </tr>
                <tr>
                    <td>Наименование:</td>
                    <td>
                        <textarea name="articleName" class="form-control"
                                  placeholder="Не более 100 символов"
                                  maxlength="100" cols="50" rows="2">@Model.Item1.Name</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Описание:</td>
                    <td>
                        <textarea name="description" class="form-control"
                                  placeholder="Не более 500 символов"
                                  maxlength="500" cols="50" rows="4">@Model.Item1.Description</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Тип:</td>
                    <td>Множественный</td>
                </tr>
                <tr>
                    <td>Стоимость:</td>
                    <td><input type="number" min="0" class="form-control" name="price" value=@Model.Item1.Price></td>
                </tr>


                <tr>
                    <td>Вес:</td>
                    @if (Model.Item1.Weight != null)
                    {
                        <td>@Model.Item1.Weight г.</td>
                        <div hidden><input type="number" min="0" disabled class="form-control" name="weight" value="@Model.Item1.Weight" /></div>
                    }
                    else
                    {
                        <td><input type="number" min="0" class="form-control" name="weight" placeholder="В граммах" /></td>
                    }
                </tr>

                <tr>
                    <td>Общее количество:</td>
                    <td>@Model.Item1.TotalCount шт.</td>
                </tr>
                <tr>
                    <td>Сейчас на складе:</td>
                    <td>@Model.Item1.NowCount шт.</td>
                </tr>
                <tr>
                    <td>Из них в ремонте:</td>
                    <td>@Model.Item1.InRepairCount шт.</td>
                </tr>
                <tr>
                    <td>Добавить снаряжение:</td>
                    <td><input type="number" min="0" class="form-control" id="maAdditionalCount" name="maAdditionalCount" /></td>
                </tr>
                @if (Model.Item1.TotalCount != Model.Item1.NowCount)
                {
                    <tr>

                    </tr>
                }
                <tr>
                    <td></td>
                    <td><input class="btn btn-success right-form" type="submit" value="Сохранить изменения" /></td>
                </tr>
            </table>
        </form>
    </div>

<h2>В Аренде</h2>
 <table class="table">
    <tr>
        <th>№ Аренды</th>
        <th>Дата аренды</th>
        <th>Арендатор</th>
        <th>Количество</th>
    </tr>
    <tbody>
    @foreach (var item in Model.Item1.InRent)
    {
        <tr>
            <td>@item.RentId</td>
            <td>@item.RentDateTime</td>
            <td>@item.Tenant</td>
            <td>@item.Count</td>
        </tr>
    }
    </tbody>
</table>
