﻿@model (GreenTourStorage.Models.ParticularArticle, List<GreenTourStorage.Models.Rent>, List<GreenTourStorage.Models.Category>)
@{
    ViewData["Title"] = Model.Item1.Name;
}

<div class="base-form">
    <h1>Редактирование</h1>
    <form method="post" action="/Storage/ParticularArticle/@Model.Item1.RegNum">
        <table>
            <tr>
                <td>Категория:</td>
                <td>
                    <select id="category" name="category" class="form-control">
                        @foreach (var c in Model.Item3)
                        {
                            if (c.Name == Model.Item1.Category)
                            {
                                <option selected value="@c.Name">@c.Name</option>
                            }
                            else
                            {
                                <option value="@c.Name">@c.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Регистрационный номер:</td>
                <td class="attention bold">
                    @Model.Item1.RegNum
                    <div hidden><input type="number" min="0" class="form-control" disabled name="reg" value="@Model.Item1.RegNum"></div>
                </td>
            </tr>
            <tr>
                <td>Наименование:</td>
                <td>
                    <textarea name="articleName" class="form-control"
                              placeholder="Не более 100 символов"
                              maxlength="100" cols="50" rows="2">@Model.Item1.Name</textarea>
                </td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td>
                    <textarea name="description" class="form-control"
                              placeholder="Не более 500 символов"
                              maxlength="500" cols="50" rows="4">@Model.Item1.Description</textarea>
                </td>
            </tr>
            <tr>
                <td>Тип:</td>
                <td>Уникальный</td>
            </tr>
            <tr>
                <td>Стоимость:</td>
                <td><input type="number" min="0" class="form-control" name="price" value="@Model.Item1.Price"></td>
            </tr>


            <tr>
                <td>Вес:</td>
                @if (Model.Item1.Weight != null)
                {
                    <td>@Model.Item1.Weight г.</td>
}
                else
                {
                    <td><input type="number" min="0" class="form-control" name="weight" placeholder="В граммах" /></td>
}
            </tr>

            <tr id="PaCreateDetails">
                @if (Model.Item1.BlackMark)
                {
                <td>
                    <input type="checkbox" id="blackMark" name="blackMark" checked onclick="viewForBlackMark()" />
                    <input type="checkbox" id="realBlackMark" hidden checked readonly/>
                    <label class="attention">Требуется ремонт</label>
                </td>
                    <td id="commentplace">
                        <textarea id="comment" name="comment" class="form-control" readonly
                                  maxlength="500" cols="50" rows="2">@Model.Item1.Comment</textarea>
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" id="blackMark" name="blackMark" onclick="viewForBlackMark()" />
                        <input type="checkbox" id="realBlackMark" hidden readonly/>
                        <label>Требуется ремонт</label>
                    </td>
                    <td id="commentplace" hidden>
                        <textarea id="comment" name="comment" class="form-control"
                                  placeholder="Причина необходимости ремонта" required
                                  maxlength="500" cols="50" rows="2">@Model.Item1.Comment</textarea>
                    </td>
                }
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-success right-form" type="submit" value="Сохранить изменения" /></td>
            </tr>
        </table>
    </form>
</div>
<script>viewForBlackMark()</script>

<h2>История</h2>
<table class="table">
    <tr>
        <th>№</th>
        <th>Взял</th>
        <th>Оплата</th>
        <th>Дата аренды</th>
        <th>Дата возврата</th>
        <th>Комментарий</th>
    </tr>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@item.RentId</td>
                <td>@item.TenantId</td>
                @if (@item.IsFreeRent)
                {
                    <td>Бесплатно</td>
                }
                else
                {
                    <td>@item.RentCostInWeek руб./нед.</td>
                }
                <td>@item.RentBeginDate</td>
                <td>@item.RentEndDate</td>
                <td>@item.Comment</td>
            </tr>
        }
    </tbody>
</table>
