﻿@using GreenTourStorage.Repository
@model GreenTourStorage.Controllers.CreateRentDto
@{
    ViewData["Title"] = "Выдать снаряжение";
}

<div class="base-form">
    @using (Html.BeginForm())
    {
        <div class="tab-header">
            <div class="form-inline right-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="newRentSearchSpace">
                <button class="btn btn-default" name="searchBtn" onclick="newRentGetSearchInfo()">Найти</button>
                <button class="btn btn-warning" name="dropFilterBtn" onclick="newRentDropSearch()">X</button>
            </div>
            <h1>Аренда снаряжения</h1>
        </div>

        <table class="table table-items" id="articlesForRentTable">
            <thead class="thead-dark">
            <tr>
                @foreach (var item in new []{"№", "Тип", "Категория", "Кол-во", "Наименование", "Описание", "Цена", "Арендовать"})
                {
                    <th scope="col">@item</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var i in Enumerable.Range(0, Model.Items.Length))
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => Model.Items[i].ArticleId)
                        @Model.Items[i].ArticleId
                    </td>
                    <td>
                        @Html.HiddenFor(m => @Model.Items[i].Type)
                        @switch(Model.Items[i].Type)
                        {
                            case ArticleType.Particular:
                                <p>У</p>
                                break;
                            case ArticleType.Multiple:
                                <p>М</p>
                                break;
                        }
                    </td>
                    <td>@Model.Items[i].Category</td>
                    <td>@Model.Items[i].ActualCount</td>
                    <td>@Model.Items[i].Name</td>
                    <td>@Model.Items[i].Description</td>
                    <td>@Model.Items[i].Price </td>
                    <td>
                         @Html.TextBoxFor(m => m.Items[i].RequestedCount,
                             "",new { @class="form-control", type="number", min="0",
                                 max=Model.Items[i].ActualCount })
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <div class="form-inline">
            Кому:
            @Html.TextBoxFor(m => m.User, "",
        new { type="tel", @class="form-control", placeholder="8-(xxx)-xxx-xxxx", id="phone", })
            <input class="btn btn-warning" type="submit" value="Сдать в аренду"/>
        </div>
    }
</div>
