﻿@model List<GreenTourStorage.ViewModels.RentListItemViewModel>
@{
    ViewData["Title"] = "Аренда";
}


    <div class="tab-header">
        <div class="form-inline right-form">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id="rentSearchSpace">
            <button class="btn btn-success" name="searchBtn" onclick="rentGetSearchInfo()">Найти</button>
            <button class="btn btn-warning" name="dropFilterBtn" onclick="rentDropSearch()">X</button>
        </div>
        <input type="checkbox" id="nowRentsCB" onclick="rentGetNowRents()" /> <span id="nowRentsLabel">Текущие аренды</span>
    </div>


<table class="table table-items" id="allRentsTable">
    <thead class="thead-dark">
        <tr>
            @foreach (var item in new []
                {"№", "Кто",  "Дата Аренды",  "Дата Возврата", "Недели", "Оплата",  "" })
            {
                <th scope="col">@item</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var rent in Model)
    {
        <tr>
          <td>
            @Html.HiddenFor(m => rent.RenId)
            @Html.ActionLink(@rent.RenId.ToString(), @rent.RenId.ToString(), "Rent")
          </td>
          <td>
            @rent.TetantName
          </td>
          <td>
            @rent.RentDate
          </td>
          <td>
            @rent.ReturnDate
          </td>
          <td>
            @rent.Weeks
          </td>
          <td>
            @rent.PaidSum
          </td>
            <td>
            @if (!rent.IsFinished)
            {
              @Html.ActionLink("Принять", $"{rent.RenId}")
            }
          </td>
        </tr>
    }

    </tbody>
</table>

<script>
 //   rentBegin();
</script>


