﻿@using GreenTourStorage.Repository
@model GreenTourStorage.ViewModels.RentViewModel
@{
ViewData["Title"] = "Аренда";
//var Rent = Model;
//var Weeks = Math.Floor(((Rent.RentEndData - Rent.RentBeginData).Value.Days) / (double)7) + 1;
}

<div class="base-form">
     @* @using (Html.BeginForm($"{Model.RenId}_Finish", "Rent")) *@
    @* { *@
       <form action=@($"{Model.RenId}/Finish") method="post" >
        @Html.HiddenFor(q=>Model.RenId)
        <input data-val="true" data-val-required="The ArticleId field is required."
               id="RentId"
               name="RentId" type="hidden" value=@Model.RenId>
        <h1>Аренда @Model.RenId</h1>
        <table>
            <tr>
                <td>Арендовал </td>
                <td>@Model.TetantName</td>
            </tr>
            <tr>
                <td>Дата начала аренды:</td>
                <td>@Model.RentDate</td>
            </tr>
            <tr>
                <td>Дата Возврата Возврата:</td>
                <td>@Model.ReturnDate </td>
            </tr>
            <tr>
                <td>Длительность аренды:</td>
                <td>@Model.Weeks Недель</td>
            </tr>
            <tr>
                <td>Стоимость аренды:</td>
                <td class="attention"> @Model.FinalCost руб.</td>
            </tr>
            <tr>
                <td>Внесенная оплата:</td>
                <td>@Model.PaidSum руб.</td>
            </tr>
        </table>

        <table class="table table-items" id="articlesFromRentTable">
            <thead class="thead-dark">
            <tr>
                @foreach (var item in new[]
                {
                    "№", "Наименование", "Количество", "Цена", "Вернул", "Из них в ремонт", "коментарий"
                })
                {
                    <th scope="col">@item</th>
                }
            </tr>
            </thead>
            <tbody>

            <p class="attention"> При сдаче в реммонт, нужно указывать комментарий!!! </p>
            @foreach (var i in Enumerable.Range(0, Model.Items.Count))
            {
               <tr>
                   <td>
                       <input data-val="true" data-val-required="The ArticleId field is required."
                              id=@($"Items[{i}].ArticleId") name=@($"Items[{i}].ArticleId")
                              type="hidden" value=@Model.Items[i].ArticlesId>
                       @Model.Items[i].ArticlesId
                   </td>
                    <td>@Model.Items[i].ArticlesName </td>
                    <td>@Model.Items[i].Count </td>
                    <td>@Model.Items[i].Price</td>
                   @* <td>@Html.TextArea($"Items[{i}].ToRepair", 0)</td> *@
                   <td>
                       <input class="form-control" data-val="true" data-val-required="The RequestedCount field is required."
                              id=@($"Items[{i}].NotReturned") name=@($"Items[{i}].Returned") type="number" value="@Model.Items[i].Returned"
                              min="0" max="@Model.Items[i].Count">
                   </td>
                   <td>
                       <input class="form-control" data-val="true" data-val-required="The RequestedCount field is required."
                              id=@($"Items[{i}].ToRepair") name=@($"Items[{i}].ToRepair") type="number" value="@Model.Items[i].ToRepair"
                              min="0" max="@Model.Items[i].Count">
                   </td>
                   <td>
                       @if (Model.Items[i].Type == ArticleType.Particular)
                       {
                           <input class="form-control" data-val="true" data-val-required="The RequestedCount field is required."
                                  id=@($"Items[{i}].Comment") name=@($"Items[{i}].Comment") type="text" value=""

                                 >
                       }
                   </td>

                   @* <td>@Html.TextArea($"Items[{i}].NotReturned", 0)</td> *@
               </tr>
            }
            </tbody>
        </table>
        <p>
            @if (!Model.IsFinished)
            {
                <input class="btn btn-warning" type="submit" value="Принять"/>
            }
        </p>
    @* } *@

        </form>
    </div>
