﻿@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Angular 5</title>
</head>
<body>
<my-app>Загрузка...</my-app>
<script src="~/public/polyfills.js"></script>
<script src="~/public/app.js"></script>
</body>
</html>
