﻿@{
    ViewData["Title"] = "Информация";
}

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a data-toggle="tab" href="#rentRools">Правила аренды</a>
    </li>
    <li>
        <a data-toggle="tab" href="#contacts">Контакты</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active base-form" id="rentRools">
        <button class="btn btn-default right-form" type="submit" id="rentRoolsEditInfoBtn" onclick="homeEditInfo('rentRools')">Изменить</button>
        <h1>Правила аренды</h1>
        <p id="rentRoolsText"> - обратитесь к ответственному за склад</p>
        <span id="rentRoolsEditSpan" hidden>
            <textarea id="rentRoolsEditSpace" class="form-control" maxlength="500" cols="50" rows="4"></textarea>
            <button class="btn btn-default" type="submit" id="rentRoolsOkBtn">Сохранить</button>
            <button class="btn btn-default" type="submit" id="rentRoolsCslBtn">Отмена</button>
        </span>
    </div>
    <div class="tab-pane base-form" id="contacts">
        <button class="btn btn-default right-form" type="submit" id="contactsEditInfoBtn" onclick="homeEditInfo('contacts')">Изменить</button>
        <h1>Контакты</h1>
        <div>
            <p>Ответственный за склад: +7-914-666-6666</p>
            <p>Глава клуба: +7-914-916-6969</p>
        </div>
        <span id="contactsEditSpan" hidden>
            <textarea id="contactsEditSpace" class="form-control" maxlength="500" cols="50" rows="4"></textarea>
            <button class="btn btn-default" type="submit" id="contactsOkBtn">Сохранить</button>
            <button class="btn btn-default" type="submit" id="contactsCslBtn">Отмена</button>
        </span>
    </div>
</div>
