﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.table-items {
    margin-top: 10px;
    overflow: scroll;
    min-width: 400px;
}
    .table-items tr:hover {
        color: black;
        background-color: #e2f1e2;
    }
    .table-items table {
        margin: 0;
    }
    .table-items table tr:hover {
        color: black;
        background-color: white;
    }

.table-items thead {
    background-color: whitesmoke;
}
    .table-items thead tr:hover {
        background-color: whitesmoke;
    }

.tab-header {
        margin-top: 10px;
        margin-bottom: 20px;
        height: 25px;
    }
.right-form {
            float: right;
        }

.base-form {
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 15px;
}
    .base-form tr {
        border-bottom: dashed lightgreen 1px;
    }
    .base-form tr:last-child {
        border-bottom: none;
    }
    .base-form td {
        font-size: medium;
        padding: 10px 20px 10px 0px;
    }
    .base-form textarea {
        margin: 10px 0px 5px 0px;
    }
    .base-form button {
        margin: 5px 5px 5px 0px;
    }

.description {
    font-style: italic;
    font-size: small;
}

h1 {
    margin: 10px 0px 20px 0px;
    font-size: large;
    font-style: oblique;
    color: darkgreen;
}

h2, h3 {
    margin: 10px 0px 10px 0px;
    font-size: medium;
    font-style: oblique;
    color: darkgreen;
}

p {
    margin-bottom: 15px;
}

a {
    color: darkslateblue;
}

.attention {
    color: coral;
    font-style: oblique;
    /*font-size: large;*/
}

.bold {
    font-weight: bold;
    color: coral;
}

.Logo {
    color: white;
    font-size: 24px;
    position: relative;
    display: block;
    float: left;
    padding: 10px 15px;
    font-weight: bold;
    align-content: center;
}
    .Logo:hover {
        color: white;
        text-decoration: none;
    }
